<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.miwok">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_ar"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PhrasesActivity"
            android:label="@string/category_phrases"
            android:exported="false" />
        <activity
            android:name=".ColorsActivity"
            android:label="@string/category_colors"
            android:exported="false" />
        <activity
            android:name=".FamilyActivity"
            android:label="@string/category_family"
            android:exported="false" />
        <activity
            android:name=".NumbersActivity"
            android:label="@string/category_numbers"
            android:exported="false"/>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>